@{
    ViewData["Title"] = "Home Page";
}
<head>

</head>
<div class="text-center">
    <h1 class="display-4">Restaurantes JSON</h1>
</div>

</br>
<img src="https://turismo.buenosaires.gob.ar/sites/turismo/files/restaurante-el-globo-1500x610.jpg" alt="resto argento">
<button onclick="CargarDatos()">Cargar Datos</button>

<table>
    <thead>
      <tr>
            <td>ID: </td>
            <td>Nombre: </td>
            <td>Logo: </td>
      </tr>
    </thead>
    <tbody id="bodyTabla">
    </tbody>

</table>
