@{
    ViewData["Title"] = "Home Page";
}
<head>
<p style="background-image: url('restaurante.jpg');">
</head>
<div class="text-center">
    <h1 class="display-4">Restaurantes JSON</h1>
</div>

</br>
<center><a href="Restaurantes" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Ir a los restaurantes</a></center>
